@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    height: 3000px;
}

* {
    margin: 0;
    font-family: var(--pfont);
}

:root {
    --pcolor: #4caf50;
    --bgcolor: #ebebeb6e;
    --subtitlecolor: #888;
    --containerWidth: 85%;
    --pfont: "Open Sans", sans-serif;
    --bghover: #3b3b3b;
    --textcolor: #686868;
    --hcolor: #303030;
    --colorhover:#121212;
    --colorfooter:#58606b;
    --coloroffooter:#191919;
}

.header {
    width: 100%;
    height: 180vh;
    background: url("img/business-2.jpg") rgba(0, 0, 0, 0.674);
    background-blend-mode: color;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about {
    width: 78%;
    height: 50vh;
    text-align: center;
    color: white;
    line-height: 70px;
    margin: auto;
}

.about h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: lighter;
}

.about p {
    font-size: 50px;
    line-height: 65px;
    margin-top: 25px;
}

.about button {
    padding: 16px 30px;
    border: none;
    border-radius: 2px;
    background: var(--pcolor);
    color: white;
    margin-left: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}

.about button:hover {
    background-color: white;
    color: black;
}

.navbar {
    width: var(--containerWidth);
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: 1s;
}

.navbar--logo,
.navbar--links {
    height: 100%;
}

.navbar--logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--logo img {
    width: 136px;
    height: 36px;
}

.navbar--links {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--links ul {
    display: flex;
}

.navbar--links ul li {
    margin-left: 25px;
    list-style-type: none;
    padding: 24px 0;
}

.navbar--links ul li:nth-child(1) {
    border-top: 4px solid var(--pcolor);
    box-sizing: border-box;
}

.navbar--links ul li a,
.navbar--links button {
    text-transform: uppercase;
}

.navbar--links ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.navbar--links button {
    padding: 10px 25px;
    border: none;
    border-radius: 2px;
    background: white;
    color: var(--subtitlecolor);
    margin-left: 15px;
    font-weight: 600;
}
.navbar--links button:hover{
    background-color: var(--pcolor);
    color: white;
}

.continer {
    width: 1240px;
    height: 190px;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    width: 33%;
    height: 190px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.title {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.title i {
    font-size: 28px;
    color: var(--pcolor);
}

.title h5 {
    font-weight: 500;
    font-size: 18px;
}

.content p {
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    display: block;
    color: var(--subtitlecolor);
}

.service {
    background-color: var(--bgcolor);
    padding: 60px;
}

.t1 {
    width: 200px;
    margin: auto;
    margin-top: 12px;
}

.t2 {
    margin: auto;
    color: #888;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.group {
    width: 1250px;
    margin: 60px auto;
    margin-top: 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.first {
    width: 400px;
    margin: 0 10px;
    text-align: center;
    vertical-align: top;
    margin-right: 33px;
    background-color: white;
}

.first img {
    width: 100%;
    height: auto;
    transition: 1s;
}

.p1 {
    text-align: left;
    font-size: 25px;
    color: rgb(19, 18, 18);
}

.p2 {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    color: #888;
}

.first a {
    text-align: left;
    font-size: 20px;
    color: #797878;
    text-decoration-line: none;
    display: block;
    margin-top: 10px;
}

.first a:hover {
    color: var(--pcolor);
}
.first:hover{
    transform: scale(1.1);
}


.secret {
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.our {
    width: 45%;
    height: 100%;
    float: left;
}

.image {
    width: 45%;
    height: 100%;
    float: right;
}

.image img {
    width: 100%;
    height: 90%;
}

.our h1 {
    font-size: 40px;
    font-weight: 200;
    margin-top: 100px;
}

.our p {
    font-size: 100px;
    font-size: 15px;
    color: var(--subtitlecolor);
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}

.our ul {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--subtitlecolor);
    padding: 2px;
    margin-bottom: 10px;
}

.our button {
    padding: 3px;
    color: white;
    background-color: var(--pcolor);
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    transition: 1s;
}

.our button:hover {
    background: var(--bghover);
    color: white;
}

.comments {
    background-color: var(--bgcolor);
    box-sizing: border-box;
    height: 100vh;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40;
}


.comments .icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments .icon i {
    font-size: 60px;
}

.about-content {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.item {
    width: 30%;
    text-align: left;
}

.items {
    width: 80%;
    background-color: white;
    padding: 20px;
}

.items .text {
    font-size: 16px;
    line-height: 28px;
    color: var(--textcolor);
}

.name {
    color: var(--subtitlecolor);
    font-size: 16px;
    margin-top: 15px;
}

.company {
    font-size: 14px;
    color: var(--textcolor);
    margin-top: 7px;
}

.arrow {
    width: 30px;
    height: 30px;
    margin: auto;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #979797;
    color: #979797;
    cursor: pointer;
    margin-right: 5px;
}

button.arrow:hover {
    background-color: #20a30f;
}

.arrows {
    text-align: center;
}


.page {
    width: 100%;
    height: 355px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.three .icon {
    color: var(--subtitlecolor);
    font-size: 40px;
}

.three h4 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    color: var(--bghover);
}

.three .title {
    font-size: 20px;
    color: var(--subtitlecolor);
}

.last {
    width: 100%;
    height: 400px;
}

.background img {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
}

.pragraphe {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: -450px;
}

.pragraphe h2 {
    color: white;
    font-size: 32px;
    line-height: 1.38em;
    font-weight: 400;
}

.pragraphe p {
    color: white;
    font-weight: 400;
    line-height: 1.86em;
    font-size: 23px;
    margin-top: 12px;
}

.pragraphe button {
    padding: 10px;
    color: white;
    background-color: var(--pcolor);
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 15px;
    font-weight: 700;
    transition: .5s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: white;
    color: black;
}

.others {
    width: 1351px;
    height: 900px;
    background-color: white;
    margin-top: 100px;
    padding-top: 60px;
}

.others .section-title {
    display: inline-block;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-left: 40%;
    margin-top: 70px;
    color: var(--bghover);

}

.others .section-subtitle {
    margin: auto;
    color: var(--subtitlecolor);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.services-container {
    width: 91%;
    height: 80vh;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.service-card .service-title {
    font-size: 20px;
    margin-bottom: 18px;
    color: var(--hcolor);
    line-height: 1.38em;
    font-weight: 500;
}

.service-card .service-desc {
    font-size: 15px;
    font-weight: 400;
    color: var(--textcolor);
    word-spacing: 2px;
    line-height: 1.86em;
}

.logos-section {
    width: 100%;
    height: 270px;
    background-color: var(--bgcolor);
}

.logos-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 30px;
    padding: 30px;
}

.logo-item {
    width: 242px;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-item img {
    width: 165px;
    height: 50px;
    opacity: .7;
    transition: opacity .3s;
}

.logo-item img:hover {
    opacity: 1;
}

.features-section {
    width: 100%;
    height: 228px;
    background-color: var(--pcolor);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-containr {
    margin-top: 90px;
}

.features-container .feature-title {
    font-size: 36px;
    color: white;
    line-height: 1.5em;
    font-weight: 400;
    margin-left: 90px;

}

.features-container .feature-text {
    color: rgba(255, 255, 255, .82);
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    margin-left: 90px;
}
.feature-button button{
    width: 140px;
    height: 65px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .2px;
    transition: 1s;
    border-radius: 5px;
    
}
.feature-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px;
}
.feature-button button:hover{
    background-color: var(--colorhover);
    color: white;
}


.main-footer{
    width: 100%;
    height: 368px;
    background-color: var(--colorhover);
    display: flex;
    align-items: center;
}
.main-footer-section{
    width: 1240px;
    height: 188px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.main-footer-section .box{
    width: 310px;
    height: 100%;
}
.box .widget-title{
    font-size: 17px;
    color: white;
    font-weight: 200;
    margin-bottom: 25px;
}
.box .textwidget{
    font-size: 15px;
    color: var(--colorfooter);
    line-height: 1.86em;
}
.textwidget ul{
    list-style: none;
    color: var(--colorfooter);
    padding: 0;
  margin: 0;
}
.textwidget ul li {
  margin-bottom: 8px;  
}

/* ::before */
.textwidget ul li.icon-part::before {
  content: "❮";      
  color: var(--colorfooter);
  margin-right: 8px; 
}


.textwidget ul li.icon-part:hover{
    color: #0275d8;
}
.contact-details {
  position: relative;
}

.contact-map {
  position: absolute;
  width: 100%;    
  height: auto;
  opacity: .2;   
  z-index: 0;     
}

.widget-contact-details-item {
  position: relative;
  z-index: 1; 
  margin-bottom: 10px;
}
.footer{
    width: 100%;
    height: 66px;
    background-color: var(--coloroffooter);
    display: flex;
    justify-content: space-between;
}
.copyright{
    margin-top: 14px;
    margin-bottom: 12px;
    color: var(--colorfooter);
    margin-left: 50px;
    font-size: 13px;
}
.footer-socials {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between ;
}

.footer-socials .social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255,255,255,0.06);
  color: #fff;
  text-decoration: none;
  transition: .5s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}

.footer-socials .social-link i {
  font-size: 16px;
  line-height: 1;
}

.footer-socials .social-link.facebook:hover { background-color: #1877f2; }
.footer-socials .social-link.gmail:hover { background-color: #ea4335; }
.footer-socials .social-link.linkedin:hover { background-color: #0077b5; }
.footer-socials .social-link.twitter:hover { background-color: #1da1f2; }
.footer-socials .social-link:hover {
  transform: translateY(-3px);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.footer-socials .social-link.back-to-top {
  background-color: rgba(255, 255, 255, 0.06);
  font-size: 16px;
  font-weight: 900;
   border: 2px solid #fff; 
  width: 45px;
  height: 45px;
  margin-right: 7px;
}

.footer-socials .social-link.back-to-top:hover {
  
  transform: translateY(-3px);
  color: #fff;
}


.side-fixed-icons {
  position: fixed;
  top: 50%;              
  right: 0;              
  /* transform: translateY(-50%);  */
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.side-fixed-icons .side-icon {
  width: 45px;
  height: 45px;
  border-top-left-radius: 2px;   
  border-bottom-left-radius: 2px; 
  background: white;
  color: var(--subtitlecolor);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  font-size: 18px;
}

.side-fixed-icons .side-icon.market:hover {
  color: #0077b5;
}

.side-fixed-icons .side-icon.settings:hover {
  color: #0077b5;
}



